table {
    border-collapse: collapse;
    border:1px solid black;
    background-color: #dddddd; 
    width:auto;
    text-align:center;
}
td {
    border:1px solid black;
    width:40px;
    white-space: nowrap;
    padding:5px 10px;
}
.cabecera {
    background-color: orange;   
    font-weight:bold;
}
.izq {
    text-align:left;
}